*
{
    margin: 0;
    padding: 0;
    background-color: black;
}

.service-heading-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-heading
{
    font-size: 3.825vw;
    font-weight: 700;
    margin-top: 180px;
    color: aliceblue;
    text-align: center;
    font-family: "Inter", sans-serif;

}
.serv-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-desc
{
    font-size: 1.825vw;
    font-weight: 700;
    margin-top: 50px;
    color: rgb(117, 123, 129);
    text-align: center;
    font-family: "Inter", sans-serif;
    width: 750px;
}
.search-box
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar
{
    background-color: rgb(183, 189, 194);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7px;
    width: 300px;
    border-radius: 5px;
    border: 4px solid #c4b167;
}
input{
    background-color: rgb(183, 189, 194);
    border: none;
    padding: 8px 10px;

}
button{
    background-color: #E3BD26;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 650;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease-in;

}
button:hover
{
    background-color:rgb(246, 228, 63);
    cursor: pointer;
}

.crypto-table
{
    max-width: 800px;
    margin: auto;
    border-radius:15px ;
    background-color: #E3BD26;
    color: white;
    margin-top: 35px;
    font-family: "Inter", sans-serif;
    font-weight: 650;
}

.table-layout
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #E3BD26;
    color: white;
    max-width: 760px;
    margin: auto;
}

.market-cap
{
    text-align: right;
}

.coin-info
{
    display: flex;
    align-items:center ;
    
    gap: 10px;
}
.coin-name
{
    font-size:  16px;
    margin: 0px;
}
.coin-info img
{
    width: 36px;
    height: 36px;
}

@media (max-width: 768px)
{
    .service-heading
    {
        margin-top: 100px;
        font-size: 30px;
    }
    .service-desc
    {
        font-size: 18px;
        margin-top: 35px;
        margin-left: 30px;
        margin-right:30px;
    }

    .table-layout
    {
        font-size: 12px;
    }
}

